/* style.css */

body{
  background: #fff;
  color: #000;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

/* Mise en forme de la barre de navigation */

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

nav a {
  color: #ffffff;
}

/* Mise en forme menu fixe */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 25px;
}


/* Mise en forme textes*/

h1{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #ffffff;
}

a {
  color: #29324B;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}


#logo{
  color: #fff;
 font-size: 35px;
 font-family: 'Pacifico', cursive;
 float: left;
 margin-left: 50px;
}

.social img {
 width: 25px;
}

.social {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.social a:hover {
  border-bottom: none;
}

/* Mis en forme de la baseline */

#baseline{
  background-color: #edf5e1;
  background-image: url(backpic.jpg);
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

#welcome{
  background-color: #edf5e1;
  background-image: url(backpic.jpg);
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#welcome h4{
 font-size: 50px;
}

/* Mise en forme des défis  */

.feature,.defi {border: 1px solid #F2F2F2;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
 background: #389583;
 box-shadow: 1px 1px 1px #E3E3E3;
}

#apropos{
 margin: 0 auto;
 width: 80%;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
}

#defis{
 margin: 0 auto;
 width: 80%;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
}

/* Mise en forme footer*/

#footer{
    display: block;
    color: grey;
}
